{% extends "global/page/layout.njk" %}
{% set metaDescription = "Главная страница" %}
{% set title = "Главная страница" %}
{% set classPage = "index" %}

{%
  set data = {
    class: "main",
    title: {
      class: "visually-hidden",
      text: "Главная страница сайта"
    }
  }
%}

{% block content %}
  <main class="{{ data.class }}">
    <h1 class="{{ data.title.class }}">
      {{ data.title.text }}
    </h1>
  </main>
{% endblock %}
