body {
  background-color: blue;
}

.test {
  width: 100px;
  height: 100px;
  background-color: green;
}

input {
  border: 1px solid gray;
  background: white;

  &[type=text] { color: black; }
  &.some_class { display: none; }
  &.test {background-color:red;}
}
