
            {% import "../../global/page/mixins.njk" as mixins %}

            {%
              set data = {
                class: "discount-offers",
                title: {
                  class: "discount-offers__title",
                  text: "title"
                },
                text: {
                  class: "discount-offers__text",
                  text: "text"
                }
              }
            %}

            <section class="{{ data.class }}">
              <h2 class="visually-hidden"></h1>
              <h2 class="{{ data.title.class }}">
                {{ data.title.text }}
              </h2>
              <p class="{{ data.text.class }}">
                {{ data.text.text }}
              </p>
            </section>
          
